body{
    background-color: skyblue;
    font-family: Verdana;
}

header{
    margin-left: 50px;
}

h1{
    display: flex;
    padding: 0;
    justify-content: center;
}

h2{
    margin-left: 50px;
}

h3{
    margin-left: 50px;
}

p{
    font-size: 18px;
}

li{
    font-size: 18px;
}

q{
    font-size: 18px;
} 

section{
    margin-left: 50px;
}

.box{
    position: relative;
    margin-left: 50px;
    width: 500px;
    height: 500px;
}

iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}