body {
    background-color: skyblue;
    font-family: Verdana;
}

header {
    margin-left: 50px;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    padding: 50px;
}

h3 {
    padding: 50px;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}

q {
    font-size: 18px;
} 

div {
    padding: 30px;
}

.box {
    position: relative;
    margin-left: 50px;
    width: 500px;
    height: 500px;
}

iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}